body.login {
    /* background: url("../images/wallpaper.svg") no-repeat center center fixed !important; */
    background-size: cover !important;
    -webkit-background-size: cover !important;
    background-color: #f7f7f7;
}

.login h1 a {
    background-image: url("../assets/images/logo/login-logo.jpg") !important;
    background-size: 90px;
}

.login form {
    box-shadow: none;
    padding: 20px;
}

#login {
    background: #fff;
    margin: 50px auto;
    padding: 40px 20px;
    width: 400px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.login label {
    color: #555;
    font-size: 14px;
}
.login form .forgetmenot {
    float: none;
}

#login form p.submit {
    margin-top: 15px;
}
.login.wp-core-ui .button-primary {
    background: #f0954e;
    border-color: #f0954e;
    box-shadow: 0 1px 0 #f0954e;
    color: #fff;
    text-shadow: none;
    float: none;
    clear: both;
    display: block;
    width: 100%;
    padding: 7px;
    height: auto;
    font-size: 15px;
}
