@font-face {
    font-family: "Aristotelica Bold";
    src: url("Aristotelica/Zetafonts-Aristotelica-Display-Bold.otf")
        format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aristotelica Regular";
    src: url("Aristotelica/Zetafonts-Aristotelica-Display-Regular.otf")
        format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Hearth Stone";
    src: url("hearth_stone/Hearth-Stone.otf") format("opentype"),
        url("hearth_stone/Hearth-Stone.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* CeraPro */
@font-face {
    font-family: "Cera Pro";
    src: url("CeraPro/CeraPro-Italic.eot");
    src: local("Cera Pro Italic"), local("CeraPro/CeraPro-Italic"),
        url("CeraPro/CeraPro-Italic.eot?#iefix") format("embedded-opentype"),
        url("CeraPro/CeraPro-Italic.woff") format("woff"),
        url("CeraPro/CeraPro-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Cera Pro";
    src: url("CeraPro/CeraPro-Regular.eot");
    src: local("Cera Pro Regular"), local("CeraPro/CeraPro-Regular"),
        url("CeraPro/CeraPro-Regular.eot?#iefix") format("embedded-opentype"),
        url("CeraPro/CeraPro-Regular.woff") format("woff"),
        url("CeraPro/CeraPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cera Pro";
    src: url("CeraPro/CeraPro-BlackItalic.eot");
    src: local("Cera Pro Black Italic"), local("CeraPro/CeraPro-BlackItalic"),
        url("CeraPro/CeraPro-BlackItalic.eot?#iefix")
            format("embedded-opentype"),
        url("CeraPro/CeraPro-BlackItalic.woff") format("woff"),
        url("CeraPro/CeraPro-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Cera Pro";
    src: url("CeraPro/CeraPro-Light.eot");
    src: local("Cera Pro Light"), local("CeraPro/CeraPro-Light"),
        url("CeraPro/CeraPro-Light.eot?#iefix") format("embedded-opentype"),
        url("CeraPro/CeraPro-Light.woff") format("woff"),
        url("CeraPro/CeraPro-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Cera Pro";
    src: url("CeraPro/CeraPro-BoldItalic.eot");
    src: local("Cera Pro Bold Italic"), local("CeraPro/CeraPro-BoldItalic"),
        url("CeraPro/CeraPro-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("CeraPro/CeraPro-BoldItalic.woff") format("woff"),
        url("CeraPro/CeraPro-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Cera Pro";
    src: url("CeraPro/CeraPro-Black.eot");
    src: local("Cera Pro Black"), local("CeraPro/CeraPro-Black"),
        url("CeraPro/CeraPro-Black.eot?#iefix") format("embedded-opentype"),
        url("CeraPro/CeraPro-Black.woff") format("woff"),
        url("CeraPro/CeraPro-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Cera Pro";
    src: url("CeraPro/CeraPro-Medium.eot");
    src: local("Cera Pro Medium"), local("CeraPro/CeraPro-Medium"),
        url("CeraPro/CeraPro-Medium.eot?#iefix") format("embedded-opentype"),
        url("CeraPro/CeraPro-Medium.woff") format("woff"),
        url("CeraPro/CeraPro-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Cera Pro";
    src: url("CeraPro/CeraPro-Bold.eot");
    src: local("Cera Pro Bold"), local("CeraPro/CeraPro-Bold"),
        url("CeraPro/CeraPro-Bold.eot?#iefix") format("embedded-opentype"),
        url("CeraPro/CeraPro-Bold.woff") format("woff"),
        url("CeraPro/CeraPro-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Cera Pro";
    src: url("CeraPro/CeraPro-Thin.eot");
    src: local("Cera Pro Thin"), local("CeraPro/CeraPro-Thin"),
        url("CeraPro/CeraPro-Thin.eot?#iefix") format("embedded-opentype"),
        url("CeraPro/CeraPro-Thin.woff") format("woff"),
        url("CeraPro/CeraPro-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Cera Pro";
    src: url("CeraPro/CeraPro-MediumItalic.eot");
    src: local("Cera Pro Medium Italic"), local("CeraPro/CeraPro-MediumItalic"),
        url("CeraPro/CeraPro-MediumItalic.eot?#iefix")
            format("embedded-opentype"),
        url("CeraPro/CeraPro-MediumItalic.woff") format("woff"),
        url("CeraPro/CeraPro-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Cera Pro";
    src: url("CeraPro/CeraPro-LightItalic.eot");
    src: local("Cera Pro Light Italic"), local("CeraPro/CeraPro-LightItalic"),
        url("CeraPro/CeraPro-LightItalic.eot?#iefix")
            format("embedded-opentype"),
        url("CeraPro/CeraPro-LightItalic.woff") format("woff"),
        url("CeraPro/CeraPro-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Cera Pro";
    src: url("CeraPro/CeraPro-ThinItalic.eot");
    src: local("Cera Pro Thin Italic"), local("CeraPro/CeraPro-ThinItalic"),
        url("CeraPro/CeraPro-ThinItalic.eot?#iefix") format("embedded-opentype"),
        url("CeraPro/CeraPro-ThinItalic.woff") format("woff"),
        url("CeraPro/CeraPro-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}
