body {
    font-family: "Aristotelica Regular";
}

h1.header {
    font-family: "Hearth Stone" !important;
}

.cera-pro {
    font-family: "Cera Pro" !important;
    font-weight: normal;
    font-style: bold;
}
